.rating-container {
    display: flex;
    flex-direction: row;
}

.rating-container svg{
    display: inline-block;
    margin-right: 5px;
}

input, select, textarea{
    background-color: #202020 ;
}